{% extends "master.html" %}

{% load static %}

<html>
    {% block title %}
    Details about {{ persons.firstname }} {{ persons.lastname }}
    {% endblock %}
<body>
    <div class="mycard">
    {% block content %}
        <h1>{{ persons.firstname }} {{ persons.lastname }}</h1>

        <p>Phone: {{ persons.phone }}</p>
        <p>Member since: {{ persons.joined_date }}</p>
        
        <hr>
        
        <p>Back to <a href="/home">Members</a></p>
    {% endblock %}
    </div>
</body>
</html>